h1 {
	text-align: center;
}
* {
	box-sizing: border-box;
}
section {
	background: #ADD8E6;
	border: 2px solid black;
	padding: 0px;
	height: 300px;
	width: 400px;
	float: left;
	margin-right: 10px;
	
}
h2 { border: 1px;
	background: red;
	height: 30px;
	width: 126px;
	margin-left:270px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
}

@media (min-width: 768px) and (max-width: 991px){
	.section2 {
		width: 90%;
		padding: 20px;
		margin-top: 20px;
	}


}
@media (max-width: 767px){

section {
	margin-top: 20px;
}
}
