body {
	background-color: white;

}

#header-nav{
	background-color: gray;
	border: 2px;
}
#logo {
	font-size: 2.0em;
	margin-top: 10px;
	color: black;
}
h1{
	text-align: center;
	color: black;
}
p { 
	background-color: gray;

}
#nav-list{
	text-align: center;
	color: black;
	font-size: 1.5em;
	background-color: yellow;

}
@media (min-width: 768px ) and (max-width: 991px){
	p{
		padding: 5px;
	}
}